body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.side-menu {
  display: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

ul.list-unstyled li:hover i {
  color: #fff;
}

ul.list-unstyled:hover + p {
  color: #fff;
}

li {
  text-decoration: none;
}

.fa-times {
  width: 2rem;
  height: 1rem;
  padding-bottom: 0;
}
.fa-bars {
  width: 2rem;
  color: #fff;
}


.fa-twitter,
.fa-facebook,
.fa-linkedin,
.fa-pinterest-square {
  color: #7a7575;
}


h3 {
  width: fit-content;
}

.logo {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

.side-item {
  background-color: transparent;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.side-item:hover {
  background-color: #fff;
}

.side-item:active {
  background-color: #0d6efd;
}


.scroll {
  width: 100vh;
  height: 100vh;
}

.background-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  z-index: -1000;
}

.carousel-control-next-icon {

  background-color: rgb(230, 99, 11);
  border-radius: solid 1rem;
  padding: 0;
  margin: 0;
  color: #fff;
  width: 0;
}


.slide-show-dots {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.2rem;
}

.slide-dot {
  width: 20px;
  height: 20px;
  background-color: #32c41c;
  border: 2px solid #5dc8ec;
  border-radius: 50%;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.slide-dot.active {
  background-color: #5dc8ec;
  border-color: #32c41c;
}

.corrousel {
  position: relative;
  background-color: transparent;

  .background-images {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1000;
    opacity: 1000;
  }

  .slide-show-dots {
    position: absolute;
    top: 20px;
    right: 5%;
    transform: translateX(-50%);
    z-index: 1;

    button.slide-dot {
      background-color: #fff;
      border: none;
      width: 12px;
      height: 12px;
      margin: 0 5px;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &.active {
        background-color: #0dcaf0;
      }
    }
  }
}

.slideDot {
  margin-top: 7rem;
}

<!-- -->
.sign-up-btn {
  background-color: #7bcd00;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    margin: 12px;
    width: 150px;
    font-size: large;
}

.login-up-btn {
  border: 2px solid #7bcd00;
  border-radius: 5px;
  color: #7bcd00;
  cursor: pointer;
  font-weight: 700;
  height: 50px;
  margin: 12px;
  padding: 0 20px;
  width: 150px;
}

.login-container {
  margin-top: 10rem;
}

/* carousel.css */
.corrousel {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1000;
}
