
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}

.check,
.check * {
  border: 1px solid #000;
}

.b {
  background-color: black;
}



  /* overflow-y: hidden; */


/* ============================================= */

/* ===================================== Carousel */

/* ============================================= */


.c,
.c * {
  border: 1px solid black;
}

.carousel {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  

  /* background-color: red; */
}

.image-container {
  /* display: flex;
  overflow: hidden;
  gap: 10px;0 */
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.image-container .item_slider {
  width: 100%;  

  /* max-width: 90%; */
  height: auto;
  object-fit: cover;
  transform: scale(0.8);
  transition: all 0.3s ease;
  cursor: pointer;
}

.image-container .item_slider:hover {  
  transform: scale(.9);
  background-color: rgb(130, 23, 207);
  border-radius: 20px;
}

.image-container .item_slider.center {
  transform: scale(1); /* Escala más grande para la imagen en el centro */
  transition: all 0.3s ease;
}

.arrow {
  font-size: 32px;
  color: white;
  padding: 0;
  margin: 0;
  height: 5rem;
  max-width: 100px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: rgb(15, 192, 15);
  transition: background-color 0.3s ease;
}

.arrow:hover {
  background-color: #d7e0d9;
}

.left-arrow {
  margin-right: 1rem;
  justify-content: end;
  padding-right: 1rem;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.right-arrow {
  margin-left: 1rem;
  justify-content: start;
  padding-left: 1rem;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}

.index_item_social_cont {
  color: gray;
}

.index_item_social_cont i {
  font-size: 1.2rem;
  border: 3px solid gray;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
}

.index_item_social_cont i:hover {
  color: #97bf0f;
  background-color: rgb(0, 255, 64);
  border: 3px solid #97bf0f;
  transform: scale(1.2);
  transition: all 0.5s ease-in-out;
}

.item_index_cont {
  position: relative;
  display: flex;  
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.index_item_img {
  width: 80%;
  /* opacity: 0.2; */
}

.item_index_cont:hover .index_item_img {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.index_img_circle {
  background-color: #d3ebe9;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}


/* ============================================= */

/* ===================================== SIDE MENU */

/* ============================================= */

body {
  background-color:#F8F9FA;  
}

.side_menu {
  border-right: 1px solid black;  
   position: fixed; 
  max-width: 350px; 
  background-color:#F8F9FA;
 
}
.fas {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .side_menu {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 99; 
    color: rgb(0, 0, 0);   
  }
} 

.hidden{
  width: 0px;
  margin: 0;
  padding: 0;
  position: fixed;
}

.side_menu_cont > section {
  /* background-color: #000000; */
  color: #303030;
  padding: 0;
  margin: 0;
}

.side_menu_cont a {
  color: inherit;
  background-color: inherit;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: block;
  text-decoration: none;
}

.side_menu_cont h4 {
  margin: 0;
  padding: 4px 0;
}

.side_menu_cont h4:hover {
  background-color: #97bf0f;
  border-radius: 4px;
  color: #fff;
  transition: all 0.25s ease-in-out;
}

.social_media_cont i {
  cursor: pointer;
}

.social_media_cont i:hover {
  transform: scale(1.3);
  transition: transform 0.1s ease-in-out;
  opacity: 0.7;
}

/* ============================================= */

/* ===================================== INDEX PAGE */

/* ============================================= */

.index_item_social_cont i:hover {
  color: #97bf0f;
  border: 3px solid #97bf0f;
  transition: all 0.25s ease-in-out;
}

.item_index_cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.index_item_img {
  width: 80%;
  /* opacity: 0.2; */
}

.item_index_cont:hover .index_item_img {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.index_img_circle {
  background-color: #d3ebe9;
  border-radius: 50%;
  width: 70%;
  height: 70%;
}

/* ============================================= */

/* ===================================== SET APPOINTMENT */

/* ============================================= */

.set_appoin_bg {
  background: url("https://picsum.photos/id/1/300/300");
  height: 100vh;
  background-size: cover;
  opacity: 1;
  filter: hue-rotate(220deg);
}

.set_appoin {
  opacity: 0.3;
}

.imagen-con-filtro {
  position: relative;
  width: 100%; /* Ajusta el ancho según tus necesidades */
  max-height: 100vh;
  overflow: hidden;
}

/* Estilo para la imagen */
.imagen-con-filtro img {
  width: 100%; /* Ajusta el ancho según tus necesidades */
  height: auto;
  display: block;
}

/* Estilo para el filtro verde */
.imagen-con-filtro::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 255, 0, 0.832); /* Color verde semi-transparente */
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* display: flex; */
}


/* ============================================= */

/* ===================================== LOADER */

/* ============================================= */

.loader {
  position: relative;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-shadow: inset 0 0 20px -5px rgba(255, 255, 255, 0.5),
          inset 0 -40px 40px -20px rgba(255, 255, 255, 0.5);
  background: linear-gradient(#FF3D00 120px, transparent 0) no-repeat;
  background-position: 0px 120px;
  animation: fillLq 10s linear infinite alternate;
}
.loader:before {
  position: absolute;
  content: '';
  width: 40%;
  height: 25%;
  top: 20px;
  left: 10px;
  background: rgba(255,255,255,0.1);
  border-radius: 50%;
  transform: rotate(-45deg);
}

@keyframes fillLq {
  0% , 10% { background-position: 0 120px}
  90% , 100% { background-position: 0 0}
}
